# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=1.4.0=pypi_0
anyio=3.6.2=pypi_0
apache-beam=2.44.0=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.2.3=pypi_0
asttokens=2.2.1=pypi_0
astunparse=1.6.3=pypi_0
attrs=22.2.0=pypi_0
avro-python3=1.10.2=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.11.1=pypi_0
bleach=5.0.1=pypi_0
bzip2=1.0.8=he774522_0
ca-certificates=2022.12.7=h5b45459_0
cachetools=5.2.1=pypi_0
certifi=2022.12.7=pyhd8ed1ab_0
cffi=1.15.1=pypi_0
charset-normalizer=3.0.1=pypi_0
click=8.1.3=pypi_0
cloudpickle=2.2.1=pypi_0
colorama=0.3.3=pypi_0
comm=0.1.2=pypi_0
contextlib2=21.6.0=pypi_0
contourpy=1.0.7=pypi_0
crcmod=1.7=pypi_0
cudatoolkit=11.0.3=h3f58a73_10
cudnn=8.1.0.77=h3e0f4f4_0
cycler=0.11.0=pypi_0
cython=0.29.33=pypi_0
debugpy=1.6.5=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.1.1=pypi_0
dm-tree=0.1.8=pypi_0
docopt=0.6.2=pypi_0
docutils=0.19=pypi_0
entrypoints=0.4=pypi_0
etils=1.0.0=pypi_0
executing=1.2.0=pypi_0
fastavro=1.7.0=pypi_0
fasteners=0.18=pypi_0
fastjsonschema=2.16.2=pypi_0
flatbuffers=23.1.4=pypi_0
fonttools=4.38.0=pypi_0
fqdn=1.5.1=pypi_0
gast=0.4.0=pypi_0
gin-config=0.5.0=pypi_0
google-api-core=2.11.0=pypi_0
google-api-python-client=2.73.0=pypi_0
google-auth=2.16.0=pypi_0
google-auth-httplib2=0.1.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.58.0=pypi_0
grpcio=1.51.1=pypi_0
h5py=3.7.0=pypi_0
hdfs=2.7.0=pypi_0
html5lib=1.1=pypi_0
httplib2=0.20.4=pypi_0
idna=3.4=pypi_0
immutabledict=2.2.3=pypi_0
importlib-metadata=6.0.0=pypi_0
importlib-resources=5.10.2=pypi_0
ipykernel=6.20.1=pypi_0
ipython=8.8.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=8.0.4=pypi_0
isoduration=20.11.0=pypi_0
jaraco-classes=3.2.3=pypi_0
jedi=0.18.2=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.2.0=pypi_0
jsonpointer=2.3=pypi_0
jsonschema=4.17.3=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=7.4.9=pypi_0
jupyter-console=6.4.4=pypi_0
jupyter-core=5.1.3=pypi_0
jupyter-events=0.6.3=pypi_0
jupyter-server=2.1.0=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-widgets=3.0.5=pypi_0
kaggle=1.5.12=pypi_0
keras=2.10.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
keyring=23.13.1=pypi_0
kiwisolver=1.4.4=pypi_0
libclang=15.0.6.1=pypi_0
libffi=3.4.2=hd77b12b_6
libprotobuf=3.20.1=h23ce68f_0
lvis=0.5.3=pypi_0
lxml=4.9.2=pypi_0
markdown=3.4.1=pypi_0
markdown-it-py=2.1.0=pypi_0
markupsafe=2.1.1=pypi_0
matplotlib=3.6.3=pypi_0
matplotlib-inline=0.1.6=pypi_0
mdurl=0.1.2=pypi_0
mistune=2.0.4=pypi_0
more-itertools=9.0.0=pypi_0
nbclassic=0.4.8=pypi_0
nbclient=0.7.2=pypi_0
nbconvert=7.2.7=pypi_0
nbformat=5.7.3=pypi_0
nest-asyncio=1.5.6=pypi_0
notebook=6.5.2=pypi_0
notebook-shim=0.2.2=pypi_0
numpy=1.22.4=pypi_0
oauth2client=4.1.3=pypi_0
oauthlib=3.2.2=pypi_0
object-detection=0.1=pypi_0
objsize=0.6.1=pypi_0
opencv-python=4.7.0.68=pypi_0
opencv-python-headless=4.7.0.68=pypi_0
openssl=1.1.1q=h8ffe710_0
opt-einsum=3.3.0=pypi_0
orjson=3.8.5=pypi_0
packaging=23.0=pypi_0
pandas=1.5.3=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.4.0=pypi_0
pip=22.3.1=py310haa95532_0
pkginfo=1.9.6=pypi_0
platformdirs=2.6.2=pypi_0
portalocker=2.7.0=pypi_0
prometheus-client=0.15.0=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.36=pypi_0
proto-plus=1.22.2=pypi_0
protobuf=3.19.6=pypi_0
psutil=5.9.4=pypi_0
pure-eval=0.2.2=pypi_0
py-cpuinfo=9.0.0=pypi_0
pyarrow=9.0.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycocotools=2.0.6=pypi_0
pycparser=2.21=pypi_0
pydot=1.4.2=pypi_0
pygments=2.14.0=pypi_0
pymongo=3.13.0=pypi_0
pyparsing=2.4.7=pypi_0
pyrsistent=0.19.3=pypi_0
python=3.10.0=h96c0403_3
python-dateutil=2.8.2=pypi_0
python-json-logger=2.0.4=pypi_0
python-slugify=7.0.0=pypi_0
pytz=2022.7.1=pypi_0
pywin32=305=pypi_0
pywin32-ctypes=0.2.0=pypi_0
pywinpty=2.0.10=pypi_0
pyyaml=5.4.1=pypi_0
pyzmq=25.0.0=pypi_0
qtconsole=5.4.0=pypi_0
qtpy=2.3.0=pypi_0
readme-renderer=37.3=pypi_0
regex=2022.10.31=pypi_0
requests=2.28.2=pypi_0
requests-oauthlib=1.3.1=pypi_0
requests-toolbelt=0.10.1=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986=2.0.0=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.2.0=pypi_0
rsa=4.9=pypi_0
sacrebleu=2.2.0=pypi_0
scikit-learn=1.2.0=pypi_0
scipy=1.10.0=pypi_0
send2trash=1.8.0=pypi_0
sentencepiece=0.1.97=pypi_0
seqeval=1.2.2=pypi_0
setuptools=65.6.3=py310haa95532_0
six=1.16.0=pypi_0
sniffio=1.3.0=pypi_0
soupsieve=2.3.2.post1=pypi_0
sqlite=3.40.1=h2bbff1b_0
stack-data=0.6.2=pypi_0
tabulate=0.9.0=pypi_0
tensorboard=2.10.1=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.10.1=pypi_0
tensorflow-addons=0.19.0=pypi_0
tensorflow-datasets=4.8.2=pypi_0
tensorflow-estimator=2.10.0=pypi_0
tensorflow-gpu=2.10.1=pypi_0
tensorflow-hub=0.12.0=pypi_0
tensorflow-intel=2.11.0=pypi_0
tensorflow-io=0.29.0=pypi_0
tensorflow-io-gcs-filesystem=0.29.0=pypi_0
tensorflow-metadata=1.12.0=pypi_0
tensorflow-model-optimization=0.7.3=pypi_0
tensorflow-text=2.10.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.17.1=pypi_0
text-unidecode=1.3=pypi_0
tf-models-official=2.10.1=pypi_0
tf-slim=1.1.0=pypi_0
threadpoolctl=3.1.0=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.12=h2bbff1b_0
toml=0.10.2=pypi_0
tornado=6.2=pypi_0
tqdm=4.31.1=pypi_0
traitlets=5.8.1=pypi_0
twine=4.0.2=pypi_0
typeguard=2.13.3=pypi_0
typing-extensions=4.4.0=pypi_0
tzdata=2022g=h04d1e81_0
uri-template=1.2.0=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=1.26.14=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wcwidth=0.2.6=pypi_0
webcolors=1.12=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.4.2=pypi_0
werkzeug=2.2.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
widgetsnbextension=4.0.5=pypi_0
wincertstore=0.2=py310haa95532_2
wrapt=1.14.1=pypi_0
xz=5.2.8=h8cc25b3_0
zipp=3.11.0=pypi_0
zlib=1.2.13=h8cc25b3_0
zstandard=0.19.0=pypi_0
